@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");

/* Styles for WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #000; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background: #333; /* color of the scrollbar */
  border-radius: 6px; /* roundness of the scrollbar thumb */
}

/* Hide scrollbar buttons in WebKit browsers */
::-webkit-scrollbar-button {
  display: none;
}

/* Styles for Firefox */
/* Note: Firefox currently does not support styling of the scrollbar */
/* However, you can use these properties for future compatibility */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #000;
}

:root {
  --a: 0;
}

/* Styles for Internet Explorer */
/* Note: Internet Explorer currently does not support styling of the scrollbar */
/* However, you can use these properties for future compatibility */
* {
  scrollbar-face-color: #333;
  scrollbar-shadow-color: #000;
  scrollbar-highlight-color: #000;
  scrollbar-3dlight-color: #000;
  scrollbar-darkshadow-color: #000;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
}

body {
  height: 100vh;
  position: relative;
}

body {
  background-color: black;
  color: white;
  font-family: "Noto Sans", sans-serif;
}

.containerBig {
  /* background-color: white; */
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  align-items: stretch;
  gap: 10px;
  padding: 10px;
}

.left {
  flex-basis: 350px;
  gap: 12px;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: clip;
  left: 0%;
  position: relative;
  transition: left 0s ease-in, flex-basis 0.2s ease-in;
}

.smallBox {
  /* flex-basis: 20%; */
  display: flex;
  align-items: flex-start;
}
.smallBox ul {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.smallBox ul li {
  display: flex;
  align-items: center;
  gap: 13px;
  list-style: none;
}
.bigBox {
  flex-basis: 100%;
  justify-content: space-between;
  justify-self: flex-end;
}
.library {
  font-size: 14px;
}

/* Your library songs */

.library-songs {
  font-size: 12px;
  overflow-y: auto;
  overflow-x: clip;
  height: 540px;
}
.library-songs li {
  list-style: none;
}

.library-songs ul {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.song-card-lib {
  width: 100%;
  display: flex;
  height: 64px;
  border: 1px solid white;
  border-radius: 0.51rem;
  padding: 7px;
}

.song-card-lib .music-icon {
  /* border: 2px solid green; */
  width: 37px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.song-card-lib .music-icon > img {
  width: 100%;
}

.song-card-lib .song-detail-lib {
  display: flex;
  align-items: center;
  /* flex-grow: 1; */
  padding-left: 5px;
  flex-basis: 31ch;
  cursor: pointer;
}
.song-card-lib .song-detail-lib:hover {
  font-size: 0.7rem;
}

.song-card-lib .playnow {
  display: flex;
  align-items: center;
  gap: 0.71rem;
  margin-left: auto;
  padding: 7px;
  cursor: pointer;
}
.song-card-lib .playnow:hover {
  font-size: 0.7rem;
}

.song-card-lib .playnow img {
  width: 15px;
  outline: 1px solid black;
  outline-offset: 5px;
  border-radius: 50%;
}

.words {
  width: 70%;
  bottom: 0;
}
.words li {
  list-style: none;
  font-size: 9px;
}

.language button {
  background-color: transparent;
  border: 0;
  color: white;
  outline: 1px solid #b3b3b3;
  border-radius: 3rem;
  outline-offset: 5px;
  /* top | right | bottom | left */
  padding: 0px 5px 0 5px;
}

/* right container */

.right {
  /* margin: 13px; */
  min-height: 90%;
  flex-basis: 78%;
  flex-grow: 99999;
  flex-shrink: 2;
}

/* navWork */

.nav {
  background-color: #0f0e0e;
  min-height: 70px;
  justify-content: center;
  padding: 0 1.5rem 0 1.5rem;
  flex-basis: 4%;
  flex-shrink: 0;
}

.hamburger {
  display: none;
}

.next-back {
  height: 100%;
  gap: 2px;
}

.next-back button {
  width: 28px; /* Adjust width as needed */
  height: 28px; /* Adjust height to match width for a perfect circle */
  border-radius: 50%; /* This creates the circle shape */
  border: 0;
  outline: 0;
  background-color: transparent;
}

.circle {
  width: 28px;
  height: 28px;
  background-color: rgb(10, 10, 10);
  border-radius: 50%;
  padding: 7px;
}

.circle > img {
  border-radius: 50%; /* This creates the circle shape */
  width: 100%;
  object-fit: contain;
  /* border: 1px solid  black; */
}

.log_sign {
  width: 300px;
}

.log {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  height: 45px;
  padding: 0 1.25rem 0 1.25rem;
  border-radius: 19px;
  border: 0;
  outline: 0;
  flex-basis: 116px;
  /* flex-grow: 1; */
}
.log:hover {
  transform: scale(1.051);
}
.sign {
  background-color: transparent;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  height: 45px;
  padding: 0 1.5rem 0 1.5rem;
  border-radius: 19px;
  border: 0;
  outline: 0;
  flex-grow: 0;
  flex-basis: 17px;
  transition: all 1s ease-in-out;
}
.sign:hover {
  color: white;
}

/* card Container*/

.cardContainer {
  flex-basis: 100%;
  overflow-y: auto;
  overflow-x: clip;
  align-content: baseline;
}

.card {
  height: 276px;
  width: 192px;
  /* padding: 13px; */
  overflow: clip;
}
.card:hover {
  background-color: #1a1a1a;
  --a: 1;
}

.card-image {
  width: 170px;
  /* height: 100%; */
  /* white-space: nowrap;  */
  text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
}
.card-image > img {
  width: 100%;
  object-fit: cover;
}

.playbtn {
  position: absolute;
  width: 26%;
  bottom: 5%;
  right: 4px;
  opacity: var(--a);
  transition: all 0.51s;
}
/* .playbtn:hover {
  bottom: 17px;
  opacity: 1;
} */

.song-details p {
  font-size: 0.7rem;
}
.song-details h2 {
  font-size: 1.1rem;
}
.about-song {
  width: 169px;
  /* height: 56px; DONT GIVE */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Optional, for adding '...' at the end */
  box-sizing: border-box;
}

/* Whole playBar */

.playbar {
  padding: 9px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.205);
  height: 8ch;

  align-items: center;
}
.wrapper-playbar {
  padding: 0 3rem;
  bottom: 0;
  left: 0;
  width: 100%;

  align-items: center;
}

.wrapper-playbar > * {
  flex-basis: 33%;
  flex-grow: 1;
}

.icons {
  margin-bottom: 8px;
}

#prev {
  margin-left: auto;
}

#next {
  margin-right: auto;
}

#songName {
  height: 3ch;
  align-self: flex-start;
}

#songDuration {
  height: 4ch;
  align-self: flex-start;
}

#songDuration > span {
  margin-left: auto;
}

.playbar-play {
  padding: 4px;
  width: 40px;
}
.playbar-play:hover {
  padding: 0;
}
.playbar-next-prev {
  padding: 3px;
  width: 35px;
}
.playbar-next-prev:hover {
  padding: 0px;
  width: 35px;
}

.seekBar {
  width: 98%;
  height: 6px;
  border: 2px solid rgba(255, 255, 255, 0.486);
  bottom: 10px;
  background-color: rgba(236, 220, 220, 0.473);
}
.seek-circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: white;
  left: 0;
  top: -6px;
}

.volume {
  display: flex;
  align-self: flex-start;
}

@media (max-width: 1250px) {
  .containerBig {
    gap: 0;
  }
  .left {
    border: 1px solid red;
    position: relative;
    left: -100%;
    flex-basis: 0;
    z-index: 1000;
    transition: left 0.4s ease-in, flex-basis 0.2s ease-in;
  }
  .hamburger {
    display: block;
  }
}
