input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    width: 100%;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    color: #d8d8d8;
    font-family: "SF Pro Text", "SF Pro Icons", system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Ubuntu, Cantarell, "Fira Sans", sans-serif;
}

body{
    background-color: #1F1F1F;
}

main{
    height: 60vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    list-style-type: none;
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
}



.nav ol{
    display: flex;
    justify-content: space-between;
}

.navEnd{
    display: flex;
    column-gap: 40px;
}

.navimg1{
    width: 12px;
}
.navimg2, .navimg3{
    width: 15px;
}


.circle{
    height: 10vh;
    width: 100vw;
    border-radius: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-bottom: 36vh;

}

.circle>img{
    width: 70px;
    border-radius: 50%;
    display: block;
    margin: auto;
    
}

.userDetails{
    text-align: center;
    margin: 1.2rem;
}

.name h4{
    font-size: 19px;
    font-weight: 600;
}

.banking{
    font-weight:500 ;
    display: flex;
    gap: 7px;
}

.phoneNumber{
    margin-top: 15px;
}

.input h2{
    display: inline;
}


.input input{
    max-width: 140px;
    width: 29px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 20px;
    background-color: transparent;
    border: 0px;
    outline: none;
}

.input h2{
    color: rgb(158, 153, 153);
}

#myInput{
    font-size: 44px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}
#rupa{
    display: flex;
    place-content: center;
    align-items: center;
}


   