@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .btn-custom {
        background-color: #3490dc; /* Tailwind's blue-500 */
        color: white;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
    }
}
@layer utilities{
            .btn{
            @apply cursor-pointer bg-amber-400 text-black font-medium rounded-2xl py-1 px-4 flex items-center hover:text-2xl
    }
}