 *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: #848BE9;
            color: white;
            height: 100dvh;
            width: 100dvw;
            font-family: Verdana, Geneva, Tahoma, sans-serif
        }
        .container{
            background-color: #242235;
            height: 80vh;
            width: clamp(350px,80vw,720px);
       
            border-radius: 2rem;
            padding: 3rem;
            box-shadow: 10px 10px 7px 3px rgba(0,0,0,0.75);
            padding-top: 8rem;
            font-weight: 600;
            box-sizing: border-box;
        }
        .flex{
            display: flex;
        }
        .flex-col{
            display: flex;
            flex-direction: column;
        }
        .align-center{
            align-items: center;
        }
        .justify-center{
            justify-content: center;
        }

        .input-container{

            background-color: #313554;
             padding: 0 1rem 0 1rem;
            border-radius: 2rem;
            min-width: 260px;
        }

        input{
            width: 144px;
            height: 51px;
            border: 0;
            background: none;
            outline: 0;
            color: white;
            padding: 0 1rem 0 1rem;
            font-weight: 800;
            font-size: 15px;
        }
        .gap-0{
            gap: 0.75rem;
        }
        .gap-1{
            gap: 1.75rem;
        }
       
        li{
            list-style: none;
        }
        .m-top{
            margin-top: 4px;
        }
        .pointer{
            cursor: pointer;
        }
        .secondContainer{
            margin-top: 4rem;
            justify-content: space-between;
        }
        .total{
            padding-left: 7px;
        }

@media screen and (max-width: 508px) {
           .secondContainer{
            flex-direction: column;
            place-content: center;
            align-items: center;
            gap: 50px;
            text-align: center;
           }
           body{
            text-align: center  ;
           }
}